html,body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #fondo {
    z-index: -999;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
  .suelo{
    width: 35px;
    height: 35px;
  }

  table{
    border-style: solid;
    border: thick solid #48390D;
  }

  button{
    width: 30px;
    height: 30px;
  }

  .div100{
    width: 80%;
    margin: 2rem 2rem 2rem 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    display: block;
    box-sizing: border-box;
    border-radius: 15px 15px 19px 19px;
    background-color:#76673A;
    border: thick ridge #48390D;
  }

  .divtitle{
    width: 50%;
    margin: 2rem 2rem 2rem 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    display: block;
    box-sizing: border-box;
    border-radius: 15px 15px 19px 19px;
    background-color:#C8B788;
    border: thick ridge #48390D;
  }

  .div50{
    width: 90%;
    height: 60;
    margin: 2rem 2rem 2rem 2rem;
    display: block;
    box-sizing: border-box;
    border: thick ridge #48390D;
    border-radius: 15px 15px 19px 19px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
  }

  .titulo{
    font-size: 80px;
    font-weight: bolder;
  }
  form {
    display: inline-block;
    text-align: start;
  }
  
  p>label>* {
    display: block;
  }
  
  mi-footer {
    display: block;
    margin: 1rem 0;
    font-size: small;
  }