html,body {
    font-family: sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #fondo {
    z-index: -999;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
  .tabla{

  }

  .div100{
    width: 80%;
    align-content: center;
    padding: 1.5rem;
    display: block;
    box-sizing: border-box;
    background-color:#76673A;
    border: thick ridge #48390D;
  }

  .div50{
    width: 40%;
    padding: 1rem;
    margin: 1em;
  }

  .titulo{
    font-size: 90px;
    font-weight: bolder;
  }
  form {
    display: inline-block;
    text-align: start;
  }
  
  p>label>* {
    display: block;
  }
  
  mi-footer {
    display: block;
    margin: 1rem 0;
    font-size: small;
  }