body {
    font-family: sans-serif;
    text-align: center;
    
  }
  
  .tabla{

  }

  .div100{
    width: 100%;
  }

  .div50{
    width: 50%;
  }

  .titulo{
    font-size: 20px;
    font-weight: bolder;
  }
  form {
    display: inline-block;
    text-align: start;
  }
  
  p>label>* {
    display: block;
  }
  
  mi-footer {
    display: block;
    margin: 1rem 0;
    font-size: small;
  }